<html>
    <head><title>asdasdad</title></head>
    <body>
        <h1>i did it</h1>
        <ul>
        <% for (let item of furniture) { %>
            <li><%=item.maker%> telephone <%=item.type%></li>
        <% } %>
        </ul>
    </body>
    </html>
